# Terrafrom
*.iml
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock*

# Ansible group vars, inventories and other
ansible/openvpn/group_vars/*
!ansible/openvpn/group_vars/example
!ansible/openvpn/group_vars/packer
ansible/openvpn/inventories/*
!ansible/openvpn/inventories/example/
main.retry

# Don't commit any user keys
*.tar.gz

# JetBrains Idea
.idea/
