client
;dev tap
dev tun
;proto tcp
proto udp
remote {{ Remote }} 1194
;remote my-server-2 1194
;remote-random
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
;tls-auth ta.key 1
;cipher x
comp-lzo
verb 3
;mute 20
ca ca.crt
cert {{ item }}.crt
key {{ item }}.key
