client
dev tun
proto udp
remote {{ RemoteHost.stdout }} 1194
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
compress lz4
verb 3
;mute 20
ca ca.crt
cert {{ item }}.crt
key {{ item }}.key
